.container1{
    height: 350px;
    width: 300px;
    margin-left: 20px;
    background-color:rgb(248, 248, 248);

    margin-top: 30px;
    padding: 20px;
    box-shadow: 10px 5px 20px 	#585858;
    border-radius: 25px 25px 25px 25px;

}
.container2{
    height: 400px;
    width: 300px;
    margin-left: 20px;
    background-color:rgb(248, 248, 248);
    
    margin-top: 30px;
    padding: 20px;
    box-shadow: 10px 5px 20px 	#585858;
    border-radius: 25px 25px 25px 25px;

}
h5{
    margin-left: 0px;
    display: inline;
    color: red;
}
.company{
    display: inline;
    padding-left: 40px;
}
.company1{
    display: inline;
}
.company2{
    padding-left: 100px;
    display:block;

}
.containerlist{
    display: flex;
    flex-wrap: wrap;
    width:1000px;
    margin: auto;
    text-align: center;

}
button{
    background-color:beige;
}
body{
    background-image: linear-gradient(rgb(0,0,50,0.8),rgba(0,0,50,0.8)),url(bgpic.jpg);
    font-family:'Times New Roman', Times, serif;
    
 
    
}
h1,h3{
    margin-top: 50px;
    margin-left: 50px;
    color: aliceblue;
}

.mar-que{
    color:white
}

.scholar-div{
    height: 350px;
    width: 650px;
    margin-left: 30px;
    background-color:rgb(248, 248, 248);

    margin-top: 30px;
    padding: 20px;
    box-shadow: 10px 5px 20px 	#585858;
    border-radius: 25px 25px 25px 25px;
}


.top-two{
    display: flex;
    flex-wrap: wrap;
    width:1000px;
    margin: auto;
}

#copy{
    position: fixed;
    bottom: 2.5%;
    left : 50%;
    transform: translate(-50%);
    color:grey;
}