*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    padding: 50px 60px 70px;
    background: #fff;
    text-align: center;
}
.form-box h1{
    font-size : 30px;
    margin-bottom : 60px;
    color:#3c00a0;
    position: relative;
}
.container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgb(0,0,50,0.8),rgba(0,0,50,0.8)),url(bgpic.jpg);
    background-position: center;
    background-size: cover;
    position :relative;
}
.input-field{
    background: #eaeaea;
    margin : 15px 0;
    border-radius:3px;
    display:flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width:100%;
    background: transparent;
    border:0;
    outline: 0;
    padding:18px 15px;
}
.input-field i{
    margin-left: 15px;
    color:#999999;
}
.btn-field{
    width: 100%;
    display: flex;
    /* padding: 30px 13px 30px; */
    justify-content: space-between;
}
button{
    /* padding-top: 10px;
    padding-left: 20px; */
    flex-basis: 48%;
    background: #3c00a0;
    color:#fff;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor:pointer;
    transition: background 1s;
}
p{
    text-align: left;
    font-size:13px;
}
p a{
    text-decoration: none;
    color:#3c00a0;
}
.input-group{
    height: 250px;
}
button.disable{
    background-color: #eaeaea;
    color: #999999;
}